<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/api/signup">
        <input type="text" name="username" id="username" required>
        <input type="password" name="password" id="password" required>
        <button type="submit">Sign up</button>
    </form>
  </body>
</html>